# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 4
# Must be 120 characters or less!
ColumnLimit: 150
# does (int) x instead of (int)x
SpaceAfterCStyleCast: true
# spaces, not tabs!
UseTab: Never
# if (x) doStuff()  is not allowed, bad style
AllowShortIfStatementsOnASingleLine: false
#
AlignTrailingComments: true
SpacesBeforeTrailingComments: 3
# change the next line to All for Alistair's textbook style
AlwaysBreakAfterReturnType: None
#  #define SHORT_NAME       42
#  #define LONGER_NAME      0x007f   # does nice spacing for macros
AlignConsecutiveMacros: Consecutive
# use \n instead of \r\n
UseCRLF: false

# someLongFunction(
#     argument1, argument2
# )
AlignAfterOpenBracket: Align

BreakBeforeBraces: Allman

NamespaceIndentation: All

BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
PackConstructorInitializers: Never

AllowShortLambdasOnASingleLine: Inline

BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AccessModifierOffset: -4

AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true